

<div class="col-md-9 my-3">

  <%= link_to "Create New", new_product_feature_path, class: "btn btn-lg my-3", id:"btn-index" %>


  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Vertical Name</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Features</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>

    <% @product_features.each do |product_feature| %>

    <tr>
      <td><%= Vertical.find_by(id:Product.find_by(id:product_feature.product_id).vertical_id).vertical_name%></td>
      <td><%= Product.find_by(id:product_feature.product_id).product_name %> </td>
      <td><%= product_feature.feature_name %> </td>
      <td></td>
    </tr>


    <% end %>

    </tbody>
  </table>
</div>




