

<div class="col-md-2">
  <ul class="nav flex-column navbar-dark bg-dark" id="side-bar">

    <div class="sidebar-headers" >
      <p>Data</p>
      <li class="nav-item">
        <%= link_to "Data Modeling", product_features_path,  class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Flow Modeling</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Value Classification</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Analytics</a>
      </li>
    </div>

    <div class="sidebar-headers" >
      <p>System config</p>
      <li class="nav-item">
        <a class="nav-link" href="#">Users managment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search configuration</a>
      </li>
    </div>
  </ul>
</div>




